
a {
  color: transparent;
}
#hello {
  padding-top: 20%;
}

#pls{
  padding-top: 15px;
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-color: #3F3F3F;
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  #hello{
    padding-top: 40%;
  }
}
